*{
    padding: 0;
    margin: 0;
}
header{
    height: 8vh;
   width: 100%;
    color: white;
    font-weight: 700;
    background-color: rgb(252, 183, 55);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
ul{
    width: 100%;
    display: flex;
	flex-direction: row;			/* Valeur par défaut */
	justify-content: space-evenly;
    align-items: center;
    background-color: rgb(213, 210, 210);
    list-style-type: none;
   
    height: 8vh; 
}
li{
    background-color: white;
    border: 1px solid rgb(51, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
    width: 18%;
}
a{
    
    color: rgb(252, 183, 55);
    text-decoration: none;
  
}
section{
    background-color: gray;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
    /* height: 575px; */
}
.row{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: white;
    height: 550px;
    font-size: 1.5em;
}
.row img{
    margin-top: 10px;
    width: 95%;
    height: 300px;
}
.row p{
    padding-left: 8px;
    text-align: left;
}
button{
    margin-top: 128px;
    background-color: grey;
    padding: 10px;
    width: 95%;
}
.button3{
    margin-top: 100px;
    background-color: grey;
    padding: 10px;
    width: 95%;
}
footer{
    height: 8.7vh;
    font-size: 0.5em;
    color: white;
    background-color: rgb(252, 183, 55);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1400px){
    body{
        display: flex;
        flex-direction: column;
    }
   header{
    font-size: 0.4em;
    display: flex;
    order: 1;
   }
   nav{
    order: 3;
   }
   li{
    background-color: white;
    border: 1px solid rgb(51, 43, 43);
    display: flex;
    font-size: 0.5em;
    font-weight: 700;
    padding: 5px;
    width: 11%;
}
section{
    background-color: gray;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   order: 2;
    /* height: 575px; */
}
.row{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: white;
    height: 500px;
    font-size: 1em;
}
.row p{
    padding-left: 18px;
    text-align: left;
}
footer{
    order: 4;
    display: flex;
}
button{
    margin-top: 0px;
    background-color: grey;
    padding: 10px;
    width: 95%;
}
.button3{
    margin-top: 0px;
    background-color: grey;
    padding: 10px;
    width: 95%;
}
}
